main{
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    color: #08405a;
}

.conteudo{
    background-color: white;
    width: 700px;
    height: 100%;
    border: 1px solid #035e88;
    border-radius: 10px;
    text-align: center;
}

label{
    color:#288576;
    font-weight: bold;
}

input{
    padding: 5px;
    border-color: #287785;
    border-radius: 5px;
    margin-top: 10px;
}

table{
    border-collapse: collapse;
    margin:20px auto 20px auto;

}

th{
    background-color: #288585;
    color:#b6ebdb;
    padding: 5px;
    margin: 5px 30px 5px 30px;
    width: 200px;

}
